{
  "$schema": "https://swc.nodejs.cn/schema.json",
  "minify": true,
  "jsc": {
    "minify": {
      "mangle": {
        "toplevel": false
      },
      "compress": {
        "defaults": false,
        "join_vars": true
      }
    },
    "target": "esnext"
  }
}